# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config USB_DEVICE_PID
	default USB_PID_HID_MOUSE_SAMPLE

config USB_DEVICE_REMOTE_WAKEUP
	default y if NRFX_USBD


choice USB_RAZER_TYPE
    bool "Usb razer type"
    default HDK

    config MOUSE
        bool "mouse"

    config HDK
        bool "hdk"

    config ARGB
        bool "argb"
endchoice
source "Kconfig.zephyr"
